# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Arianna\Documents\Magistrale\Paradigmi di Programmazione e Sviluppo\Laboratorio_mio\pps-lab01-tdd\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
